<launch>
    <node name="joy_pub" pkg="joy" type="joy_node"/>
    <node name="joy2str" pkg="roscar" type="joy2str.py"/>
    <node name="serial_encoder_driver"        pkg="rosserial_python"      type="serial_node.py">
        <param name="port"              type="string"               value="/dev/ttyACM0"/>
        <param name="baud"              type="int"                  value="115200"/>
    </node>

    <node name="serial_encoder_LRRR"        pkg="rosserial_python"      type="serial_node.py">
        <param name="port"              type="string"               value="/dev/ttyACM1"/>
        <param name="baud"              type="int"                  value="115200"/>
    </node>

    <node name="odom_pub" pkg="odom_test" type="odom_pub.py" output="screen"/>

    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
        <param name="video_device" value="/dev/video0" />
        <param name="image_width" value="320" />
        <param name="image_height" value="240" />
        <param name="pixel_format" value="yuyv" />
        <param name="camera_frame_id" value="usb_cam" />
        <param name="io_method" value="mmap"/>
    </node>
 <!--
    <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
        <remap from="image" to="/usb_cam/image_raw"/>
        <param name="autosize" value="true" />
    </node>
  -->

</launch>
