<launch>
    <node name="car_pid" pkg="pid" type="controller" >
      <param name="Kp" value="1.5" />
      <param name="Ki" value="0.0" />
      <!--<param name="Kp" value="1.6" /> -->
      <!--<param name="Ki" value="0.1" /> -->
      <param name="Kd" value="0.0" />
      <param name="upper_limit" value="255" />
      <param name="lower_limit" value="-255" />
      <param name="windup_limit" value="10" />
      <param name="max_loop_frequency" value="100.0" />
      <param name="min_loop_frequency" value="100.0" />
    </node>
    <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" />
</launch>
